.App {
  text-align: center;
}

.player-container {
  display: flex;
  padding: 20px;
  text-align: initial;
}
.remote-player-wrapper{
  margin: 0px 10px;
}

.button-group {
  padding: 20px;
}

.call-form {
  padding: 20px;
}

input,
button {
  margin-right: 10px;
}
